/* About Content */

.about-box {
  overflow: auto;
  width: 80vw;
  max-width: 1200px;
  height: 600px;
  border-radius: 10px;
  margin: 0 auto;
}

.about-inset-box {
    overflow: auto;
    height: 570px;
    margin: 15px;
    border-radius: 10px;
}

.about-content-box {
    // text-align: center;
    width: 80%;
    margin: 0 auto;

    h1 {
    text-align: center;
    padding: 30px 0;
    }

    p {
        font-size: 30px;
        margin-bottom: 20px;
    }
}


