@use 'header';
@use 'home';
@use 'about';
@use 'contact';
@use 'work';

$shadow-in: inset -3px -3px 7px rgb(255, 255, 255, 0.35),
  inset 3px 3px 7px rgb(0, 0, 0, 0.1);

// color variables
$light-color-default: #c9d4e0;
$light-color-lighter: #d3deea;
$light-color-darker: #bec8d3;
$primary-dark-color: #2c353d;

$shadow-left-top: -5px -5px 7px;
$shadow-right-bottom: 5px 5px 7px;

* {
  margin: 0;
}

// color themes
.light-bg {
  background-color: $light-color-default;
}

.dark-bg {
  background-color: $primary-dark-color;
}

.light-color {
  color: $light-color-default;
}

.dark-color {
  color: $primary-dark-color;
}

.light-shadow-default {
  box-shadow: $shadow-left-top $light-color-lighter,
    $shadow-right-bottom $light-color-darker;
}

.light-shadow-inset {
  box-shadow: inset $shadow-left-top $light-color-lighter,
    inset $shadow-right-bottom $light-color-darker;
}

.app {
  width: 100vw;
  height: 100vh;
  // font-family: 'Roboto', sans-serif;
  // font-family: "Baloo 2", cursive;
  font-family: "Titillium Web", sans-serif;
  z-index: 0;
}

.active {
  box-shadow: $shadow-in;
}

// layout
.content-box {
  display: flexbox;
  width: 80vw;
  max-width: 1200px;
  margin: auto;
  // border: 1px solid gray;
  padding-top: 30px;
}

.footer-box {
  position: absolute;
  width: 100vw;

  bottom: 20px;
}

.footer-text-box {
  text-align: center;
  color: gray;
  font-size: 12px;
  cursor: default;
}
